%h1.txt-color-red FAMBAM
%div.hero
  %div.pull-left
    %h4 Get Access to family photos everywhere you go.
    = image_tag "fambam_logo.jpg"
  %div.row
    %div.col-md-6.col-lg-6
      %h5 About FAMBAM - Are you connected to family photos? 
      %p Get access to photos like never before. Share images across family member. Easily upload files. Find photos for places, faces, and dates
    %div.col-md-6.col-lg-6
      %h5 Secure and Convient
      %p Your account information and photos are kept secure. Images are stored in cloud storage. Givening you convenient access wherever you are.
