%div.imageUploadTemplate.row.imageUpload-row
  %div.col-xs-3
    %span.preview
      %img.img-thumbnail{"data-dz-thumbnail" => ""}

  %div.col-xs-3
    %p.name{"data-dz-name" => ""}
    %strong.error.text-danger{"data-dz-errormessage" => ""}

  %div.col-xs-3
    %p.size{"data-dz-size" => ""}
      %div.progress.active{"role" => "progressbar", "aria-valuemin" => "0", "aria-valuemax" => "100", "aria-valuenow" => "0"}
        %div.progress-bar.progress-bar-success{"style" => "width:0%;", "data-dz-uploadprogress" => ""} 

  %div.col-xs-3
