%h1.text-center.text-info Drag and Drop Images To Upload
= form_for(@image, :html => {class: "dropzone hidden", id: "dropArea"}) do |f|
  = f.file_field :file, class: "dz-clickable", id: "imageInput"
  = f.submit 'upload image', class: ""

%div.container
  %div.table.table-striped.files#previews
    = render "imageUploadRow"


