%nav.navbar-default
  %div.container-fluid
    %div.navbar-header
      = link_to "FAMBAM", root_path, class: "navbar-brand"
    %ul.nav.navbar-nav
      %li
        = link_to "Sign Out", sign_out_path, method: :delete
      %li
        = link_to "Add Photo", new_image_path
